@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  padding: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
  color: white;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

button img {
  pointer-events: none;
}

.time-container {
  margin: 3em auto 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.time-display {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  height: 100px;
  width: 250px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button {
  border: none;
  padding-right: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  height: 100px;
  width: 90px;
  background-color: black;
}

#reset-button,
#session-button {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.3em 0.3em 2.5em 0.3em;
  cursor: pointer;
}

.todo-container {
  background-color: white;
  border-radius: 50px;
  padding: 2em;
  height: 82vh;
  width: 40%;
}

.todo-form {
  margin: 1em 2em;
  display: flex;
}

#todo-input {
  padding: 0.2em 0.5em;
  font-size: 1.2rem;
  height: 35px;
  width: 90%;
  border-radius: 8px 0 0 8px;
  border: 1px solid black;
  font-family: "Montserrat", sans-serif;
}

.todo-add-button {
  height: 35px;
  background-color: black;
  width: 10%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.todo-list {
  list-style-type: none;
  text-align: left;
  padding: 1em 2em;
  font-size: 1.2rem;
}

.todo-item {
  background-color: rgba(255, 190, 175, 0.434);
  width: 100%;
  padding: 0.5em;
  border-radius: 4px;
  margin: 0.5em 0;
  height: 43.5px;
}

.todo-button-container {
  float: right;
}

.todo-item-button {
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5em;
  margin: -0.5em -0.5em 0 1em;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
}

.moon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: left;
}

.moon-container div {
  width: 60px;
  word-spacing: 60px;
}

.moon {
  margin: 0 1em;
  width: 60px;
}

@media only screen and (max-width: 1000px) {
  .todo-container {
    width: 50%;
    padding: 2em 1.5em;
  }
  .todo-form {
    margin: 0.5em 1.5em;
  }
  .todo-list {
    padding: 1.5em;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column;
    height: auto;
  }
  .todo-container {
    width: 100%;
    margin-bottom: 4em;
    min-height: 400px;
    height: auto;
  }
  iframe {
    display: none;
  }
  footer {
    position: absolute;
    left: 0;
  }
}

@media only screen and (max-width: 800px) {
  .todo-container h2 {
    font-size: 1.8rem;
  }
  .App {
    padding: 25px;
  }

  .time-container {
    margin-top: 1em;
  }
  #session-button,
  #reset-button {
    margin-bottom: 1.5em;
    font-size: 1.4rem;
  }
  .todo-form {
    margin: 0.5em 0;
  }
  .todo-list {
    padding: 0.5em 0;
  }
  .moon-container div {
    margin-right: 1.5em;
  }
}
