@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  padding: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.time-container {
  margin: 3em auto 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.time-display {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  height: 100px;
  width: 250px;
  padding: 10px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button {
  border: none;
  padding-right: 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  height: 100px;
  width: 90px;
  background-color: black;
}

h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
  color: white;
}

h2 {
  font-size: 3rem;
}

#reset-button,
#session-button {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0.3em 0.3em 3em 0.3em;
  cursor: pointer;
}
